html, body {
  padding: 0px;
  margin: 0px;
}

.carousel {
  width: 60%;
}

.carousel-indicators li {
  background-color: #5B396A;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #5B396A;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5B396A;
}

.col {
  flex-direction: column;
}

.dot-details {
  display: none;
  padding: 5vh;
  font-size: 1rem;
}

.dot-info {
  position: relative;
  left: -10vh;
}

.dot-info span {
  position: absolute;
  font-size: 1.1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  margin-bottom: 25px;
}

h4 {
  white-space: nowrap;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 50%;               
  background-color:#5B396A;
  height: 2px;
  opacity: 0.1;
  margin: 0px;
}

.icon {
  margin: 15px 0 20px 0;
}

.image {
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

input {
  width: 25px;
  height: 25px;
  background: #5B396A;
  position: relative;
  border-radius: 50%;
  display: block;
  appearance: none;
  cursor: pointer;
}

input:after {
  right: -10vh;
}

input:before {
  left: -10vh;
}

input:focus {
  outline: none;
}

input:before, input:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #5B396A;
  width: 10vh;
  height: 5px;
  z-index: -1;
}

input:checked:after {
  background-color: #C1DCE4;
}

input:checked + .dot-info span {
  font-weight: bold;
}

input:checked ~ input,
input:checked ~ input:after,
input:checked ~ input:before {
  background-color: #C1DCE4;
}

.logo {
  width: 20em;
  margin-left: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meet-client p {
  margin-top: 25px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  max-width: 100%;
  background: #5B396A;
  color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav a {
  margin: 15px;
  color: inherit;
  text-decoration: none;
}

nav #indicator {
  position: absolute;
  top: 40px;
  height: 4px;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 4px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.panel#highlights,
.panel#overview,
.panel#meet-client {
  height: fit-content;
  padding: 10vh;
}

.panel#highlights h2 {
  margin-bottom: 4%;
  font-size: 3rem;
}

.panel#meet-client p {
  max-width: 50%;
  padding-left: 40px;
}

.panel#meet-team .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  width: 150px;
}

.panel#home {
  height: 65vh;
  color: #5B396A;
  background-image: url('images/background.png'); 
  background-repeat: no-repeat;
  background-size: cover;
}

.messagepanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 10vh;
  max-width: 100%;
}

.messagepanel#message {
  color: #5B396A;
  background-size: cover;
}

.panel#meet-team .row {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.panel#overview .col{
  margin: 0px;
  padding: 0px 30px;
}

.panelTimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 200vh;
  max-width: 100%;
}

.panelTimeline#timeline {
  padding: 10px;
  height: fit-content;
}

.panelTimeline#timeline h2 {
  padding: 5% 0 13% 0;
}

.panelTimeline#timeline .row {
  justify-content: space-around;
  width: 80vw;
}

.panel#overview p,
.panel#solution {
  text-align: left;
  max-width: unset;
  padding: unset;
}

.panel#highlights,
.panel#screenshots {
  background: #C1DCE4;
  color: #5B396A;
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.show {
  display: block;
}

span.label {
  top: -130px;
  transform: rotateZ(-40deg);
  width: 220px;
  text-align: left;
}

span.title {
  white-space: nowrap;
  bottom: -40px;
  left: -10px;
}

.timeline {
  width: 90vw;
  height: 5px;
  background: #5B396A;
}

.timeline-descriptions {
  padding-top: 2%;
  text-align: left;
  width: 90vw;
}

ul {
  text-align: left;
}

.vertical-divider {
  height: 100%;
  border-right: 1px solid #5B396A;
}

@media only screen and (orientation: portrait) {
  .carousel {
    width: 90%;
  }

  .dot-info {
    left: -4vh;
  }

  input:after {
    right: -3vh;
  }

  input:before {
    left: -3vh;
  }

  input:before, input:after {
    width: 3vh;
  }

  .panel#screenshots {
    height: fit-content;
    padding: 2vh;
  }

  .panel#home {
    height: 25vh;
  }

  .panel#overview .col,
  .col {
    flex-direction: unset;
    flex-basis: unset;
    flex-grow: unset;
    max-width: unset;
    margin: unset;
    padding: unset;
  }

  .panel#meet-client p {
    max-width: unset;
    padding-left: unset;
  }

  .panel#meet-team .row {
    width: 60%;
  }

  .panel#timeline h2 {
    padding: 5% 0 25% 0;
  }

  .dot-info span {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .panel#meet-team .row {
    width: 45%;
  }
}